@media (max-height: 600px){
    #card{
        height: 500px;
    }
}
@media (min-height: 601px) and (max-height: 700px){
    #card{
        height: 535px;
    }
}
@media (min-height: 701px){
    #card{
        height: 570px;
    }
}
.my-custom-class {
    --background: #e5e5e5;
  }
